<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="ta-preparation1:8" version="42.0">
	<name>ta-preparation1-8</name>
	<description>Tests that only the href attribute value is used from the update-description element.</description>
	<update-description src="http://people.opera.com/harig/wupdres/resources/out.php?udd-fail" href="http://people.opera.com/harig/wupdres/resources/out.php?udd-pass"/>
</widget>