<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="ta-acquisition9:1" version="42.0">
	<name>ta-acquisition9-1</name>
	<description>Tests that if the update-description document is served with a 206 HTTP response it is ignored and the widget update is terminated.</description>
	<update-description xmlns="http://www.w3.org/ns/widgets" href="http://people.opera.com/harig/wupdres/resources/out.php?udd-206"/>
</widget>