<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="ta-acquisition10:2" version="42.0">
	<name>ta-acquisition10-2</name>
	<description>Tests that if the href attribute of update-description element gives a 301 HTTP response it is followed to fetch the update-description document..</description>
	<update-description xmlns="http://www.w3.org/ns/widgets" href="http://people.opera.com/harig/wupdres/resources/out.php?udd-301"/>
</widget>