<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="ta-processing2:11" version="42.0">
	<name>ta-processing2-11</name>
	<description>Tests that dir does not affect processing of the update-info document.</description>
	<update-description xmlns="http://www.w3.org/ns/widgets" href="http://people.opera.com/harig/wupdres/resources/out.php?udd-dir-rtl"/>
</widget>