<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="ta-preparation1:13" version="42.0">
	<name>ta-preparation1-13</name>
	<description>Tests that the update-description element need to be in the W3C namespace to be recognised.</description>
	<update-description xmlns="urn:cyber-space.net" href="http://people.opera.com/harig/wupdres/resources/out.php?udd-fail"/>
</widget>