<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="ta-processing2:14" version="42.0">
	<name>ta-processing2-14</name>
	<description>Tests that update-info element's src attribute need to be valid, else it is ignored.</description>
	<update-description xmlns="http://www.w3.org/ns/widgets" href="http://people.opera.com/harig/wupdres/resources/out.php?udd-udi-invalid-href"/>
</widget>