<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="ta-preparation1:10" version="42.0">
	<name>ta-preparation1-10</name>
	<description>Tests that xml:lang does not affect the update-description element and first element is used regardless.</description>
	<update-description xml:lang="unknown" href="http://people.opera.com/harig/wupdres/resources/out.php?udd-pass"/>
		<update-description href="http://people.opera.com/harig/wupdres/resources/out.php?udd-fail"/>
</widget>