<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="ta-acquisition5:1" version="42.0">
	<name>ta-acquisition5-1</name>
	<description>Tests that the UA honours the Expires header of the response for update-description-document</description>
	<update-description xmlns="http://www.w3.org/ns/widgets" href="http://people.opera.com/harig/wupdres/resources/out.php?udd-expires-in=300"/>
</widget>