<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="ta-processing2:8" version="42.0">
	<name>ta-processing2-8</name>
	<description>Tests that xml:lang does not affect processing of the update-info document.</description>
	<update-description xmlns="http://www.w3.org/ns/widgets" href="http://people.opera.com/harig/wupdres/resources/out.php?udd-udi-xml-lang-ignored"/>
</widget>