<widget xmlns="http://www.w3.org/ns/widgets" id="test:removeItem-fires-event"
	width="600" height="500">
	<name>removeItem fires event</name>
	<description>Test that, upon invocation of the removeItem() method, a user agent queues a task to fire a StorageEvent event at the window object of the iframe. To pass, a storage event must be fired when a key is removed and the associated test values need to be correct.</description> 
    <preference name="testkey" value="testvalue"/> 
</widget>